@font-face {
  font-display: swap;
  font-family: "Onest";
  font-style: normal;
  font-weight: 400;
  src: url("../font/onest-v6-latin/onest-v6-latin-regular.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Onest";
  font-style: normal;
  font-weight: 600;
  src: url("../font/onest-v6-latin/onest-v6-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Onest";
  font-style: normal;
  font-weight: 800;
  src: url("../font/onest-v6-latin/onest-v6-latin-800.woff2") format("woff2");
}
